<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: header"> </head>

<!-- end of header -->


<body>
<div id="indexPage">
<div id="navDiv>">

 <div th:replace="fragments/navbar :: navbarMenu"></div>


 </div>  <!-- end of nav bar -->


 <div class="app-container container">
        <div layout:fragment="content">
        
         <div class="dashboardSpace"><strong> <p th:if="${dashSuccess}" th:text="${dashSuccess}"></p> </strong></div> 
        
        </div>
    </div>


</div>
</body>
        
        
 
    
    
    
    
</html>